
<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.item_name}}" placeholder="Item Name" name="item_name">
  <label for="floatingInput">Item Name</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.description}}"placeholder="Description" name="description">
  <label for="floatingInput">Description</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.price}}" placeholder="Price" name="price">
  <label for="floatingInput">Price</label>
</div>
</div>

<div class="col-6">    
    <div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput"  value="{{this.stock_status}}"placeholder="Stock Status" name="stock_status">
  <label for="floatingInput">Stock Status</label>
</div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
