<h1>Error 404 - Page Is Nowhere to be Found</h1>



<br>
  <div>   
          <a type="button" class="btn btn-dark btn-xs"  href="/">Home</a>
          </div><br>


      <div>   
          <a type="button" class="btn btn-dark btn-xs"  href="/customers">Customers</a>
          </div><br>
       
     

    <div>      
        <a type="button" class="btn btn-dark btn-xs"  href="order_details">Order Details</a>
        </div><br>
    
      
<div>  
    <a type="button" class="btn btn-dark btn-xs"  href="orders">Orders</a>
    </div><br>
        
    

<div>  
    <a type="button" class="btn btn-dark btn-xs" href="products">Products</a>
    </div><br>
           
        

<div>         
    <a  type="button" class="btn btn-dark btn-xs"  href="purchases">Purchases</a>
    </div>
      