<h1>Error 500 - Something Has Gone Terribly Wrong</h1>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customers">Customers</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="order_details">Order Details</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="orders">Orders</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="purchases">Purchases</a>
        </li>
      </ul>
  
 