<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="order_details">Order Details</a></li> 
    <li class="breadcrumb-item active" aria-current="page">Edit Order Details</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}



{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/editOrderDetail/{{this.product_id}}" novalidate>
{{> order_detail-form}}
</form>
{{/each}}
