 <h1>Sweet Sixteen Sports Store</h1><br>
 <div id="div-paragraph">
   <p id="paragraph" >
     The Donnyves and Morgen online Store is in the business of 
     selling three varieties of products, that is electronic products, 
     sporting goods, and general clothing. Currently the store does 
     not have a good and organized way of keeping track of the Product 
     and making sure orders are filled quickly and accurately to satisfy 
     customer needs. As a result sales are going down due mostly to 
     dissatisfied customers hence losing business to competitors. 
     The website and database will be designed to be capable of handling
      50 thousand orders annually and keeping good track of our Products 
      to make sure customers know whether or not the item they are ordering 
      is in stock or not. The store currently serves 30 thousand customers
      per year and we project our customer base to grow 10 % year over year 
      hence the need to build our database and website to handle 50k customers
      </p>
 </div><br>


 
<div class="card-group">
  <div class="card">
    <img src="../public/images/home.jpg" class="card-img-top" alt="home picture">
    <div class="card-body">
      <h5 class="card-title">Home</h5>
      <p class="card-text">Main Page.</p>
      <p class="card-text"></p>
    </div>
       <div>   
          <a type="button" class="btn btn-dark btn-xs" id="center-card-button" href="/">Home</a>
          </div><br>
  </div>



  <div class="card">
    <img src="../public/images/customers.jpg" class="card-img-top" alt="customer picture">
    <div class="card-body">
      <h5 class="card-title">Customers</h5>
      <p class="card-text"> <strong>Table for Customers: </strong>  <p> Customer ID, First and Last name, Street Address, City, State, Zip, Email, and Phone number.</p></p><br>
      <p class="card-text"></p>
    </div>
       <div>   
          <a type="button" class="btn btn-dark btn-xs"id="center-card-button"  href="/customers">Customers</a>
          </div><br>
  </div>


  <div class="card">
    <img src="../public/images/order_details.jpg" class="card-img-top" alt="order details picture">
    <div class="card-body">
      <h5 class="card-title">Order Details</h5>
      <p class="card-text"> <strong>Table for Order Details: </strong>  <p>Order ID, Product ID, Quantity, Price, and Line Item.</p></p>
      <p class="card-text"></p>
    </div>
       <div>      
        <a type="button" class="btn btn-dark btn-xs" id="center-card-button"  href="order_details">Order Details</a>
        </div><br>
  </div>
</div>


<div class="card-group">
  <div class="card">
    <img src="../public/images/orders.jpg" class="card-img-top" alt="orders picture">
    <div class="card-body">
      <h5 class="card-title">Orders</h5>
      <p class="card-text">  <strong> Table for Orders: </strong> <p>Order ID, Customer ID, Order Date, Update Date, Card Number,Amount, Order Status, and Order Filled.</p></p>
      <p class="card-text"></p>
    </div>
<div>  
    <a type="button" class="btn btn-dark btn-xs" id="center-card-button" href="orders">Orders</a>
    </div><br>
  </div>




  <div class="card">
    <img src="../public/images/products.jpg" class="card-img-top" alt="products picture">
    <div class="card-body">
      <h5 class="card-title">Products</h5>
      <p class="card-text">  <strong>Table for Products: </strong> <p>Product ID, Item Name, Description, Price, and Stock Status.</p></p>
      <p class="card-text"></p>
    </div>
<div>  
    <a type="button" class="btn btn-dark btn-xs" id="center-card-button" href="products">Products</a>
    </div><br>
  </div>


  <div class="card">
    <img src="../public/images/purchases.jpg" class="card-img-top" alt="purchases picture">
    <div class="card-body">
      <h5 class="card-title">Purchases</h5>
      <p class="card-text"> <strong>Table for Purchases:</strong>   <p>Purchase ID, Product ID, Purchase Date, Cost, Payment Date, and Item Received.</p></p>
      <p class="card-text"></p>
    </div>
<div>         
    <a  type="button" class="btn btn-dark btn-xs" id="center-card-button" href="purchases">Purchases</a>
    </div><br> 
  </div>
</div>

