body {
    background-color: rgb(151, 170, 206);
    background-size: auto;
}

img {
    width: 100%;
    height: 17em;
    vertical-align: middle;
}

.card {
    display: flex;
}

#center-card-button {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    background: linear-gradient( 45deg, black, rgb(151, 170, 206) 100%);
}

#paragraph {
    text-indent: 2em;
    text-justify: auto;
}

#div-paragraph {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}